{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "bracketSpacing": true,

  "importOrder": [
    "^(process|assert|buffer|child_process|cluster|crypto|dgram|dns|domain|events|fs|http|https|net|os|path|punycode|querystring|readline|stream|string_decoder|timers|tls|tty|url|util|v8|vm|zlib|fs/promises)$",
    "<THIRD_PARTY_MODULES>",
    "^\\.\\.",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}